<a href="https://colab.research.google.com/github/antonychackotc/project-4/blob/main/1st_4m_future_prediction_%26_Decoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1st Future Prediction**

# **Loading the Saved Model and Features**

In [ ]:
import joblib

# Load the trained Random Forest model
loaded_model = joblib.load("random_forest_best_1st.pkl")

# Load the feature list
loaded_features = joblib.load("random_forest_features_1st.pkl")

print("Model and features loaded successfully!")

Model and features loaded successfully!

In [ ]:
loaded_features

['MonthlyIncome',
 'TotalWorkingYears',
 'OverTime',
 'YearsAtCompany',
 'Age',
 'JobLevel',
 'Department_Research_and_Development',
 'Department_Sales',
 'Tenure_Category',
 'JobRole_FreqEncoded',
 'StockOptionLevel',
 'EducationField_FreqEncoded',
 'JobInvolvement']

In [ ]:
############################################################################################

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/feature-engineered-updated.csv')

In [ ]:
# Select features and target
feature_mi = ['MonthlyIncome','TotalWorkingYears','OverTime','YearsAtCompany','Age','JobLevel','Department_Research_and_Development','Department_Sales','Tenure_Category','JobRole_FreqEncoded','StockOptionLevel','EducationField_FreqEncoded','JobInvolvement']

target_mi = 'Attrition'

X = df[feature_mi]
y = df[target_mi]

In [ ]:
X.head()

,MonthlyIncome,TotalWorkingYears,OverTime,YearsAtCompany,Age,JobLevel,Department_Research_and_Development,Department_Sales,Tenure_Category,JobRole_FreqEncoded,StockOptionLevel,EducationField_FreqEncoded,JobInvolvement
0,5993,2.197225,1,1.945910,41,2,False,True,New,285,0,510,3
1,2090,2.079442,1,0.000000,37,1,True,False,New,217,0,68,2
2,2909,2.197225,1,2.197225,33,1,True,False,Intermediate,243,0,510,3
3,3468,1.945910,0,1.098612,27,1,True,False,New,217,1,389,3
4,3068,2.197225,0,2.079442,32,1,True,False,Intermediate,217,0,510,3

In [ ]:
y.head()

0    1
1    1
2    0
3    0
4    0
Name: Attrition, dtype: int64

# **Future Prediction**

In [ ]:
import numpy as np

# Corrected input data with encoded categorical values
input_data = np.array([[5993, 2.197225, 1, 1.945910, 41, 2, 0, 1, 0, 285, 0, 510, 3]])  # Encoded values

# Reshape if predicting a single instance
input_data = input_data.reshape(1, -1)

# Make the prediction
prediction = loaded_model.predict(input_data)

print("Predicted Output:", prediction)

Predicted Output: [1]

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [ ]:
import numpy as np

# Corrected input data with encoded categorical values
input_data = np.array([[3468, 1.945910, 0, 1.098612, 27, 1, 1, 0, 0, 217, 1, 389, 3]])  # Encoded values

# Reshape if predicting a single instance
input_data = input_data.reshape(1, -1)

# Make the prediction
prediction = loaded_model.predict(input_data)

print("Predicted Output:", prediction)

Predicted Output: [0]

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

# **Prediction Working Perfectly**

In [ ]:
#######################################################################################################

# **Encoded and Scaled Value will decoded and unscaled for user handle**

# **Raw Data Feature**

In [ ]:
df_raw=pd.read_csv('/content/Employee-Attrition.csv')

In [ ]:
df_raw.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [ ]:
# Department ->  onehotencoding - >Department_Research_and_Development, Department_Sales
# Tenure_Category -> Feature Engineering -> based on yearatcompany
# JobRole_FreqEncoded -> Frequency Encoding -> JobRole
# EducationField_FreqEncoded -> Frequency Encoding -> EducationField

In [ ]:
# # Select features and target
# feature_raw = ['MonthlyIncome','TotalWorkingYears','OverTime','YearsAtCompany',
#                'Age','JobLevel','Department_Research_and_Development','Department_Sales',
#                'Tenure_Category','JobRole_FreqEncoded','StockOptionLevel','EducationField_FreqEncoded',
#                'JobInvolvement']

In [ ]:
# Select features and target
feature_raw = ['MonthlyIncome','TotalWorkingYears','OverTime','YearsAtCompany','Age','JobLevel','Department','JobRole','StockOptionLevel','EducationField','JobInvolvement']


X_raw = df_raw[feature_raw]
X_raw.head(2)

,MonthlyIncome,TotalWorkingYears,OverTime,YearsAtCompany,Age,JobLevel,Department,JobRole,StockOptionLevel,EducationField,JobInvolvement
0,5993,8,Yes,6,41,2,Sales,Sales Executive,0,Life Sciences,3
1,5130,10,No,10,49,2,Research & Development,Research Scientist,1,Life Sciences,2

In [ ]:
X.head(2)

,MonthlyIncome,TotalWorkingYears,OverTime,YearsAtCompany,Age,JobLevel,Department_Research_and_Development,Department_Sales,Tenure_Category,JobRole_FreqEncoded,StockOptionLevel,EducationField_FreqEncoded,JobInvolvement
0,5993,2.197225,1,1.94591,41,2,False,True,New,285,0,510,3
1,2090,2.079442,1,0.00000,37,1,True,False,New,217,0,68,2

In [ ]:
# MonthlyIncome -> same no changes //
# TotalWorkingYears -> Log Transformation
# OverTime -> ordinal encoding
# YearsAtCompany -> Log Transformation
# Age -> Same No Changes //
# JobLevel -> Same No Changes //
# Department -> One Hot Encoding
# Tenure_Category -> Feature Engineering -> based on yearatcompany
# JobRole_FreqEncoded -> Frequency Encoding
# StockOptionLevel -> Same No Changes //
# EducationField_FreqEncoded	 -> Frequency Encoding
# JobInvolvement -> Same No Changes //

In [ ]:
#####################################################################################################

In [ ]:
X_raw['TotalWorkingYears']

0        8
1       10
2        7
3        8
4        6
        ..
1465    17
1466     9
1467     6
1468    17
1469     6
Name: TotalWorkingYears, Length: 1470, dtype: int64

# **1) Log Transformation (TotalWorkingYears) Model Save and Load**

In [ ]:
from sklearn.preprocessing import FunctionTransformer
import joblib

# Create a transformer for log transformation
log_transformer = FunctionTransformer(np.log1p, validate=True)

# Fit and transform data
X_raw['TotalWorkingYears_log'] = log_transformer.fit_transform(X_raw[['TotalWorkingYears']])

# Save the transformer
joblib.dump(log_transformer, "log_transformer_TotalWorkingYears.pkl")
print("Log transformer saved!")

Log transformer saved!

<ipython-input-41-95e92a69b71a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_raw['TotalWorkingYears_log'] = log_transformer.fit_transform(X_raw[['TotalWorkingYears']])

In [ ]:
X_raw.head()

,MonthlyIncome,TotalWorkingYears,OverTime,YearsAtCompany,Age,JobLevel,Department,JobRole,StockOptionLevel,EducationField,JobInvolvement,TotalWorkingYears_log
0,5993,8,Yes,6,41,2,Sales,Sales Executive,0,Life Sciences,3,2.197225
1,5130,10,No,10,49,2,Research & Development,Research Scientist,1,Life Sciences,2,2.397895
2,2090,7,Yes,0,37,1,Research & Development,Laboratory Technician,0,Other,2,2.079442
3,2909,8,Yes,8,33,1,Research & Development,Research Scientist,0,Life Sciences,3,2.197225
4,3468,6,No,2,27,1,Research & Development,Laboratory Technician,1,Medical,3,1.945910

# **Load and Apply Transformation**

In [ ]:
# Load the transformer
log_transformer = joblib.load("log_transformer_TotalWorkingYears.pkl")

# Example user input
user_input = pd.DataFrame({'TotalWorkingYears': [10]})

# Transform using the saved transformer
user_input['TotalWorkingYears_log'] = log_transformer.transform(user_input[['TotalWorkingYears']])

print(user_input)

   TotalWorkingYears  TotalWorkingYears_log
0                 10               2.397895

In [ ]:
#################################################################################################

In [ ]:
X_raw['OverTime']

0       Yes
1        No
2       Yes
3       Yes
4        No
       ...
1465     No
1466     No
1467    Yes
1468     No
1469     No
Name: OverTime, Length: 1470, dtype: object

# **2)**
# **Step 1: Save the Fitted LabelEncoder**

In [ ]:
from sklearn.preprocessing import LabelEncoder
import joblib

# Define the columns to encode
cols_to_encode = ['OverTime']

# Initialize and fit LabelEncoder
label_encoders = {}  # Dictionary to store label encoders

for col in cols_to_encode:
    le = LabelEncoder()
    X_raw[col] = le.fit_transform(X_raw[col])  # Transform data
    label_encoders[col] = le  # Store the fitted encoder

# Save the label encoders dictionary
joblib.dump(label_encoders, "label_encoders.pkl")
print("Label encoders saved successfully!")

Label encoders saved successfully!

<ipython-input-34-f48fdfd0659c>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_raw[col] = le.fit_transform(X_raw[col])  # Transform data

# **Step 2: Load & Apply the Label Encoding During Prediction**

In [ ]:
# Load the saved label encoders
label_encoders = joblib.load("label_encoders.pkl")

# Example user input
user_input = pd.DataFrame({'OverTime': ['Yes']})  # New data

# Apply the same label encoding
for col in cols_to_encode:
    user_input[col] = label_encoders[col].transform(user_input[col])

print(user_input)

   OverTime
0         1

# **Successfully Predicted**

In [ ]:
################################################################################################

In [ ]:
X_raw['YearsAtCompany']

0        6
1       10
2        0
3        8
4        2
        ..
1465     5
1466     7
1467     6
1468     9
1469     4
Name: YearsAtCompany, Length: 1470, dtype: int64

# **3) Log Transformation (YearsAtCompany) Model Save and Load**

In [ ]:
from sklearn.preprocessing import FunctionTransformer
import joblib

# Create a transformer for log transformation
log_transformer = FunctionTransformer(np.log1p, validate=True)

# Fit and transform data
X_raw['YearsAtCompany_log'] = log_transformer.fit_transform(X_raw[['YearsAtCompany']])

# Save the transformer
joblib.dump(log_transformer, "log_transformer_YearsAtCompany.pkl")
print("Log transformer saved!")

Log transformer saved!

<ipython-input-40-aa95176a7aa6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_raw['YearsAtCompany_log'] = log_transformer.fit_transform(X_raw[['YearsAtCompany']])

# **Load and Apply Transformation**

In [ ]:
# Load the transformer
log_transformer = joblib.load("log_transformer_YearsAtCompany.pkl")

# Example user input
user_input = pd.DataFrame({'YearsAtCompany': [6]})

# Transform using the saved transformer
user_input['YearsAtCompany_log'] = log_transformer.transform(user_input[['YearsAtCompany']])

print(user_input)

   YearsAtCompany  YearsAtCompany_log
0               6             1.94591

# **Prediction Success**

In [ ]:
###############################################################################################

# **Now After Outlier Transformation Dataset Was Updated because of Trimmed Extreme Outlier**

In [ ]:
X_raw2=pd.read_csv('/content/outlier-treated.csv')
X_raw2.head()

,Unnamed: 0,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,TotalWorkingYears,YearsAtCompany,YearsSinceLastPromotion,Attrition,JobSatisfaction,EnvironmentSatisfaction,JobInvolvement,WorkLifeBalance,OverTime,NumCompaniesWorked
0,0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,2.197225,1.945910,0.000000,Yes,4,2,3,1,Yes,8
1,2,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2.079442,0.000000,0.000000,Yes,3,4,2,3,Yes,6
2,3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,2.197225,2.197225,1.386294,No,3,4,3,3,Yes,1
3,4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,1.945910,1.098612,1.098612,No,2,1,3,3,No,9
4,5,32,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,2.197225,2.079442,1.386294,No,4,4,3,2,No,0

In [ ]:
X_raw2['Department'].value_counts()

Department
Research & Development    805
Sales                     385
Human Resources            54
Name: count, dtype: int64

# **4) Step 1: Save the OHE Column Structure**

In [ ]:
import pandas as pd
import joblib

# Apply One-Hot Encoding (OHE) to 'Department'
X_raw = pd.get_dummies(X_raw, columns=['Department'], drop_first=True)

# Save the OHE column names (important for consistency)
ohe_columns = X_raw.columns.tolist()
joblib.dump(ohe_columns, "ohe_columns.pkl")

print("OHE column structure saved successfully!")

OHE column structure saved successfully!

# **Step 2: Load & Apply OHE to New Data During Prediction**

In [ ]:
# Load the OHE column structure
ohe_columns = joblib.load("ohe_columns.pkl")

# Example new input (raw format, corrected)
new_data = pd.DataFrame({'Department': ['Research & Development']})  # Raw category name

# Apply One-Hot Encoding to the new input
new_data_ohe = pd.get_dummies(new_data, columns=['Department'], drop_first=True)

# Ensure all expected columns are present, filling missing ones with 0
for col in ohe_columns:
    if col not in new_data_ohe:
        new_data_ohe[col] = 0  # Add missing columns with value 0

# Reorder columns to match the original training data
new_data_ohe = new_data_ohe[ohe_columns]

print(new_data_ohe)

   MonthlyIncome  TotalWorkingYears  OverTime  YearsAtCompany  Age  JobLevel  \
0              0                  0         0               0    0         0

   JobRole  StockOptionLevel  EducationField  JobInvolvement  \
0        0                 0               0               0

   TotalWorkingYears_log  YearsAtCompany_log  \
0                      0                   0

   Department_Research & Development  Department_Sales
0                                  0                 0

In [ ]:
##############################################################################################

# **5) Step 1: Save the Frequency Encoding Mapping**

In [ ]:
import pandas as pd
import joblib

# Create frequency encoding mapping
freq_encoding_map = X_raw2['JobRole'].value_counts().to_dict()

# Apply frequency encoding
X_raw2['JobRole_FreqEncoded'] = X_raw2['JobRole'].map(freq_encoding_map)

# Save the frequency encoding mapping
joblib.dump(freq_encoding_map, "jobrole_freq_encoding.pkl")

print("Frequency encoding mapping saved successfully!")

Frequency encoding mapping saved successfully!

# **Step 2: Load & Apply Frequency Encoding to New Data**

In [ ]:
# Load the saved frequency encoding mapping
freq_encoding_map = joblib.load("jobrole_freq_encoding.pkl")

# Example new input (raw format)
new_data = pd.DataFrame({'JobRole': ['Sales Executive']})  # New JobRole input

# Apply the same frequency encoding
new_data['JobRole_FreqEncoded'] = new_data['JobRole'].map(freq_encoding_map).fillna(0)  # Fill unseen values with 0

print(new_data)

           JobRole  JobRole_FreqEncoded
0  Sales Executive                  285

In [ ]:
X_raw2['JobRole_FreqEncoded'].value_counts()

JobRole_FreqEncoded
285    285
243    243
217    217
118    118
111    111
82      82
72      72
71      71
45      45
Name: count, dtype: int64

# **Prediction Success**

In [ ]:
#######################################################################################################

# **6) Step 1: Save the Frequency Encoding Mapping**

In [ ]:
import pandas as pd
import joblib

# Create frequency encoding mapping
freq_encoding_map = X_raw2['EducationField'].value_counts().to_dict()

# Apply frequency encoding
X_raw2['EducationField_FreqEncoded'] = X_raw2['EducationField'].map(freq_encoding_map)

# Save the frequency encoding mapping
joblib.dump(freq_encoding_map, "EducationField_freq_encoding.pkl")

print("Frequency encoding mapping saved successfully!")

Frequency encoding mapping saved successfully!

# **Step 2: Load & Apply Frequency Encoding to New Data**

In [ ]:
# Load the saved frequency encoding mapping
freq_encoding_map = joblib.load("EducationField_freq_encoding.pkl")

# Example new input (raw format)
new_data = pd.DataFrame({'EducationField': ['Life Sciences']})  # New JobRole input

# Apply the same frequency encoding
new_data['EducationField_FreqEncoded'] = new_data['EducationField'].map(freq_encoding_map).fillna(0)  # Fill unseen values with 0

print(new_data)

  EducationField  EducationField_FreqEncoded
0  Life Sciences                         510

In [ ]:
X_raw2['EducationField_FreqEncoded'].value_counts()

EducationField_FreqEncoded
510    510
389    389
138    138
115    115
68      68
24      24
Name: count, dtype: int64

In [ ]:
################################################################################